  <md-sidenav class="md-whiteframe-z2 samplePane" md-component-id="sampleLines" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Sample Lines</h1>
    </md-toolbar>
    <md-content layout-padding ng-controller="SampleLineCtrl">
      <md-radio-group ng-model="selectedSample.data">
        	<md-radio-button ng-repeat="sampleLine in projectData().SampleLines" ng-value="sampleLine"> {{ sampleLine.SampleLineId }} </md-radio-button>
      </md-radio-group>
    </md-content>
  </md-sidenav>